<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://ec2-54-247-103-43.eu-west-1.compute.amazonaws.com:5432/d9h3r67ca39jah</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="pl.project.entities.Answer"/>
    <mapping class="pl.project.entities.ChosenAnswer"/>
    <mapping class="pl.project.entities.GenerateTask"/>
    <mapping class="pl.project.entities.GenerateTest"/>
    <mapping class="pl.project.entities.Group"/>
    <mapping class="pl.project.entities.Result"/>
    <mapping class="pl.project.entities.Subject"/>
    <mapping class="pl.project.entities.Task"/>
    <mapping class="pl.project.entities.Test"/>
    <mapping class="pl.project.entities.UserGroupSubject"/>
    <mapping class="pl.project.entities.UserSubject"/>
    <mapping class="pl.project.entities.User"/>
    <mapping class="pl.project.entities.ConfirmationToken"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>